/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
/* reset css */

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: white;
}

main {
    width: 85vw;
    height: 80vh;
    background-color: #f1f2f7;
    margin: 2% 7%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50%;
}

nav {
    height: 80px;
    border: 1px solid #D4D4D7;
}

#nv {
    width: 30%;
}

#sf {
    font-size: 25px;
    line-height: 80px;
    width: 20%;
}

.sec {
    width: auto;
    height: 45px;
    font-size: medium;
    margin: 20px auto auto auto;
    background-color: rgb(0, 0, 60);
    border: 1px solid rgb(0, 0, 60);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 60, 0.37);
    color: white;
    padding: 10px;
    line-height: 5px;
    justify-items: center;
}

.sec2 {
    width: auto;
    height: 45px;
    font-size: medium;
    margin: 20px auto auto auto;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.370);
    color: white;
    padding: 10px;
    line-height: 5px;
    justify-items: center;
}

.sec3 {
    width: auto;
    height: 45px;
    font-size: medium;
    margin: 20px auto auto auto;
    background-color: #EE681F;
    border: 1px solid #EE681F;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(238, 104, 31, 0.370);
    color: white;
    padding: 10px;
    line-height: 5px;
    justify-items: center;
}

.sec4 {
    width: auto;
    height: 45px;
    font-size: medium;
    margin: 20px auto auto auto;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.370);
    color: white;
    padding: 10px;
    line-height: 5px;
    justify-items: center;
}

.sec5 {
    width: auto;
    height: 45px;
    font-size: medium;
    margin: 20px auto auto auto;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.370);
    color: white;
    padding: 10px;
    line-height: 5px;
    justify-items: center;
}

.ara {
    width: auto;
    height: 40px;
    font-size: medium;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.370);
    color: white;
    padding: 10px;
    line-height: 5px;
    margin-top: 120px;
    padding: 5px 35px;
    transition: all 200ms ease-in-out;
}

.sec:hover {
    transform: scale(1.1);
}

.sec2:hover {
    transform: scale(1.1);
}

.sec3:hover {
    transform: scale(1.1);
}

.sec4:hover {
    transform: scale(1.1);
}

.sec5:hover {
    transform: scale(1.1);
}

.ara:hover {
    transform: translateX(45px);
}

#formbar {
    height: 250px;
    border: 1px solid #D4D4D7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}

#formbar2 {
    height: 170px;
    border: 1px solid #D4D4D7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 80px;
    padding: 10px;
}

#frm1 {
    margin-top: 20px;
    padding: 20px;
}

#fofl {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#cari {
    width: 270px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#dropd {
    margin-left: 52px;
}

#dropdl {
    margin-left: 42px;
}

#dropdown2 {
    margin-right: 40px;
    color: gray;
    width: 250px;
    height: 30px;
    padding: 1%;
    border: 1px solid gray;
    border-radius: 4px;
}

#drop4div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown4 {
    color: gray;
    width: 270px;
    height: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
}

.dropdown {
    color: gray;
    width: 290px;
    height: 30px;
    padding: 1%;
    border: 1px solid darkred;
    border-radius: 4px;
}

#butflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.yeniadres {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.370);
    padding: 4px 8px;
    transition: all 250ms ease-in-out;
}

    .yeniadres:hover {
        transform: translateY(20px) scale(1.1);
    }

#adresduzen {
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background-color: #EE681F;
    border: 1px solid #EE681F;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(238, 104, 31, 0.37);
    padding: 4px 8px;
    transition: all 250ms ease-in-out;
}

    #adresduzen:hover {
        transform: translateY(20px) scale(1.1);
    }

.formp {
    text-align: right;
    padding: 6px;
}

.form2 {
    color: gray;
    width: 270px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px;
}

.form3 {
    color: black;
    width: 270px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px;
}

.form4 {
    color: gray;
    width: 230px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px;
}

#spc {
    width: 20px;
}

.spc2 {
    margin-right: 10px;
}


#iconbut {
    padding: 10px;
    width: auto;
    background-color: rgb(99, 99, 253);
    border: 1px solid rgb(99, 99, 253);
    border-radius: 6px;
    box-shadow: 2px 2px 2px 2px rgba(99, 99, 253, 0.418);
    padding: 2px;
}

#iconbut2 {
    padding: 10px;
    width: auto;
    background-color: red;
    border: 1px solid red;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.26);
    padding: 2px;
}

.radio {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

#nav2 {
    height: 37px;
    background-color: #EE681F;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    justify-content: flex-start;
    gap: 5px;
}

#yaz {
    width: 100%;
    height: 50%;
}

.dradius {
    font-size: 18px;
    padding: 8px;
    color: black;
    background-color: white;
    width: auto;
    line-height: 21px;
    border: 1px solid black;
    border-radius: 8px 8px 0px 0px;
}

.buts {
    font-size: 18px;
    background-color: white;
    border: none;
}

    .buts:hover {
        color: orange;
    }

    .buts:focus {
        color: orangered;
    }

.servisnot {
    margin-top: 20px;
    width: 150px;
    font-size: larger;
    line-height: 50px;
}

.input-textarea {
    padding: 20px;
    margin-top: 20px;
    width: 480px;
    height: 280px;
}


.wid {
    width: 170px;
    margin: auto;
}

#kaydet {
    position: absolute;
    top: 95%;
    left: 45%;
    width: 10%;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    border: 1px solid #EE681F;
    box-shadow: 2px 2px 2px 2px rgba(238, 104, 31, 0.336);
    padding: 8px 12px 8px 12px;
    background-color: orangered;
    transition: all 200ms ease-in-out;
}

    #kaydet:hover {
        transform: translateY(-16px) scale(1.2);
        background-color: rgb(47, 209, 47);
        border-color: rgb(47, 209, 47);
        box-shadow: 2px 2px 2px 2px rgba(47, 209, 47, 0.39);
    }

.plus {
    padding: 5px;
    background-color: rgb(0, 0, 60);
    border: 1px solid rgb(0, 0, 60);
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 60, 0.37);
    color: white;
    margin-left: -18px;
}

.plus2 {
    font-size: large;
    place-self: center;
    height: 30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    justify-content: center;
    padding: 0px 15px;
    margin-right: 55px;
    background-color: #EE681F;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(60, 30, 0, 0.37);
    color: black;
    transition: all 220ms ease-in-out;
}

    .plus2:hover {
        transform: translateY(10px) scale(1.05);
    }

#indir {
    color: white;
    background-color: orangered;
    display: block;
    font-size: 18px;
    width: 120px;
    height: 60px;
    padding: 20px;
    margin: 50px auto auto auto;
    line-height: 10px;
    text-align: center;
    border: 1px solid orangered;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(255, 68, 0, 0.336);
    transition: all 200ms ease-in-out;
}

    #indir:hover {
        transform: translateY(30px) scale(1.1);
    }

.spc2 {
    margin-right: 5px;
}

.nlayfd {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f1f2f7;
    border: 1px solid #D4D4D7;
}

#img1 {
    width: 20%;
    height: 20%;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    border: 1.5px solid #EE681F;
    transition: transform 1s;
    animation: rotate-photo 1.1s forwards ease-in-out;
}

img:hover {
    transform: rotate(360deg) translateZ(0);
}

#hg {
    position: absolute;
    top: 15px;
    left: 14%;
    font-size: large;
    width: 50px;
}

    #hg:hover {
        color: #EE681F;
        transform: scale(1.05);
    }

#hg2 {
    position: absolute;
    top: 15px;
    left: 18.5%;
    font-size: large;
    width: 50px;
}

    #hg2:hover {
        color: #EE681F;
        transform: scale(1.05);
    }

.imdivi {
    height: 60px;
    width: 320px;
    animation: show-profile 1.1s forwards ease-in-out;
}

#ppimg {
    border-radius: 50%;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

    #ppimg:hover {
        transform: scale(1.1);
    }

.sub-menu-wrap {
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 0px;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

    .sub-menu-wrap.open-menu {
        max-height: 300px;
    }

.sub-menu {
    background-color: #f1f2f7;
    border: 1px solid #D4D4D7;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

    .user-info h2 {
        font-weight: 500;
    }

    .user-info img {
        width: 60px;
        border-radius: 50%;
        margin-right: 15px;
    }

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #EE681F;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #EE681F;
    margin: 12px 0;
}

    .sub-menu-link p {
        width: 100%;
    }

    .sub-menu-link i {
        width: 40px;
        padding: 8px;
        margin-right: 15px;
        transition: all 200ms ease-in-out;
    }

    .sub-menu-link span {
        font-size: 18px;
        font-weight: 900;
        transition: all 200ms ease-in-out;
    }

    .sub-menu-link:hover span {
        transform: translateX(5px);
    }

    .sub-menu-link:hover p {
        font-weight: 600;
    }

    .sub-menu-link:hover i {
        transform: scale(1.1);
    }

@keyframes show-profile {
    0% {
        transform: translateX(-200px);
    }

    75% {
        transform: translateX(55px);
    }
}

@keyframes rotate-photo {
    100% {
        transform: rotate(360deg);
    }
}

.sml {
    padding-left: 28px;
}

.smr {
    margin-right: 25px;
}

#yaz {
    padding-top: 10px;
}

.callist {
    padding: 30px 15px;
}

.btn-delete {
    text-align: center;
    background-color: red;
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(128, 0, 0, 0.370);
}

.btn-edit {
    text-align: center;
    background-color: green;
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 128, 0, 0.370);
}

@media screen and (max-width: 1600px) {
    .flex1 {
        gap: 30%;
    }

    #nv {
        width: 55%;
    }

    #sf {
        width: 15%;
    }

    .servisnot {
        margin-top: 40px;
        width: 150px;
        font-size: larger;
        line-height: 50px;
    }
}
